name: Ruby Gem

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build + Publish
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    strategy:
      matrix:
        type:
          - jdbc
          - mysql
          - postgresql
          - redshift
          - sqlserver
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 2.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: push gem
        uses: trocco-io/push-gem-to-gpr-action@v2
        with:
          language: java
          gem-path: "embulk-output-${{ matrix.type }}/build/gems/*.gem"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          gradle-subproject: "embulk-output-${{ matrix.type }}"
